.App {
  text-align: center;
  margin: 20px;
}

input {
  margin: 5px;
}

button {
  margin: 5px;
}

ul {
  list-style-type: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
